# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://training:training@localhost:3306/aipicat?schema=aipicat"

PASS_SALT=$2a$05$h8D8dwyLsGnz3/wUrdOMCuxu14mGJ9lWV/I.svSFoNuh6.1J9Qzn2
JWT_SECRET=$2a$05$h8D8dwyLsGnz3/wUrdOMCuxu14mGJ9lWV/I.svSFoNuh6.1J9Qzn2
JWT_TTL=36000s
APPSTATE=prod

ADMIN_PASS=
TEACHER_PASS=
STUDENT_PASS=

KEY_FILE=/etc/ssl/cloudflare/private/cloudflare_prvkey_lsacbucuresti.ro.pem
CERT_FILE=/etc/ssl/cloudflare/certs/cloudflare_lsacbucuresti.ro.pem